.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #e458c4f4;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  padding: 15px;
  font-size: 30px;
  color: rgb(255, 255, 255);
  background-color: rgb(255, 181, 238);
  border-radius: 50%;
}

section h2 {
  font-size: 150px;
background-color: #C850C0;
background-image: linear-gradient(147deg, #C850C0 12%, #FFCC70 48%, #ce0cca 88%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body {
  background-image: url(https://images.fineartamerica.com/images/artworkimages/mediumlarge/2/creative-layout-with-pink-flowers-paper-heart-over-punchy-pastel-background-top-view-flat-lay-spring-summer-or-garden-concept-present-for-woman-day-yuliia-chyzhevska.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  
}



